@import 'mixins';
@import 'variables';

::selection {
  background: $orange;
  color: white;
}

/*
DEFAULT FORM PLACEHOLDER STYLES 
*/

::-webkit-input-placeholder {
   color: $darkorange;
   &:focus {
    color:$orange;
   }
   &:hover {
    color:$orange;
  }
}

:-moz-placeholder { /* Firefox 18- */
  color: $darkorange;
  &:focus {
    color:$orange;
   }
}

::-moz-placeholder {  /* Firefox 19+ */
    color: $darkorange;
    &:focus {
     color:$orange;
   }
}

:-ms-input-placeholder {  
    color: $darkorange;
    &:focus {
      color:$orange;
   }
}




/* Responsive Images, Video  */

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

video {
  width: 100%;
  max-width: 100%;
  height: auto;
}


svg {
  display: inline-block; 
  vertical-align: middle;
  margin-bottom: .2rem;

}

* { 
  margin: 0; 
  padding: 0; 
  @include vendor-prefix(box-sizing, border-box);
}

body { 
  background: url(images/bedge_grunge.png) repeat fixed;
}

.screen-reader-text { 
  position: absolute; 
  left: -9999px; 
  top: -9999px; 
}

.clear { clear: both; }

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* html .group, *:first-child+html .group { zoom: 1; } /* First selector = IE6, Second Selector = IE 7 */

/* Typography  */

@font-face {
    font-family: 'icomoon';  /*Icon Font*/
    src: url(fonts/icomoon.eot);
    src: url(fonts/icomoon.eot?#iefix) format('embedded-opentype'),
         url(fonts/icomoon.woff) format('woff'),
         url(fonts/icomoon.ttf) format('truetype'),
         url(fonts/icomoon.svg#icomoon) format('svg');
    font-weight: normal;
    font-style: normal;
}



@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,400italic,500,500italic,700,100italic);

h1, h2, h3, h4, h5, h6, h1 a, 
h2 a, h3 a, h4 a, h5 a, h6 a, 
p, p a, li, li a, blockquote, 
pre, strong, aside, aside a, 
input, div, div a, time, time a,{
  word-wrap: break-word;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: $orange;
} 


h1 {
  font-size: 2.625rem; /* = 42px */
  font-weight: 300;
  line-height: 2.625rem;
}

h2 {
  font-size: 2.250rem; /* = 36px */ 
  font-weight: 300;
  line-height: 2.250rem;
}

h3 {
  font-size: 1.875rem; /* = 30px */
  font-weight: 400;
  line-height: 1.875rem;
}

h4 {
  font-size: 1.500rem; /* = 24px */
  font-weight: 100;
  line-height: 1.500rem;
}

h5 {
  font-size: 1.125rem; /* = 18px */
  font-weight: 400;
  line-height: 1.125rem;
}

h6 {
	font-size: 1.000rem; /* = 16px */
  font-weight: 300; 
  font-size: 1.000rem;

}

p {
	font-size: 1.125rem;
	font-weight: 300;
	color: $grey/2;
	margin-bottom: 1.125rem;
}

a {
  text-decoration:none;
}

blockquote {
  border-top: 2px solid $orange;
  border-bottom: 2px solid $orange;
  padding: 2%;
  margin-bottom:1.5rem;
  p {
    font-size: 1.510rem; /* = 24px */
    font-weight: 100;
    color: $orange;
    font-style: italic;
    margin-bottom: 0;
    @media screen and (min-width: 818px) {
      font-size: 1.875rem;
    }
  }
}
.cards {
  background: $mat-white;
  box-shadow: $mat-shadow;
  margin-bottom: 1rem;
  width: 100%;
  float:left;
  padding: 2%;
  z-index: -200;
}

.mat-card {
  background: white;
  box-shadow: $mat-shadow;
  margin-bottom: 1rem;
  float:left;
  width: 100%;
  @media screen and (min-width: $max-breakpoint){
    margin-top:0;
  }
  padding: 2%;
}

.two-thirds {
  width: 100%;
  padding:1%;
  float: left;
}

/************************
SIDEBAR
************************/

.sidebar-left {
  @media screen and (min-width: 625px){
    @include rowMachine(2, 2%);
    float: left;
  }
  @media screen and (min-width: $max-breakpoint){
    width: 100%;
  }
}

.sidebar-right {
  @media screen and (min-width: 625px){
    @include rowMachine(2, 2%);
    float: left;
  }
  @media screen and (min-width: $max-breakpoint){
    width: 100%;
  }
}

.one-third {
  width:100%;
  padding:1%;
  float: right;
  @include clearfix();
  @media screen and (min-width: $max-breakpoint) {

  }
}
//donation wrapper
.coin-wrap {
  width: 100%;
  background: white; 
  box-shadow: $mat-shadow;
  margin-bottom: 1rem;
  padding: 2%;
  float: right;
  h2 {
    text-align:center;
  }
}

.coins {
  width:100%;
  padding:6%;
}
.dodgecoin-link {
  width:100%;
  @include clearfix();
  @include main-button();
  @include transition(color, .3s);
  margin-bottom: 1rem;

  &:hover,
  &:active  {

    h3 {
      color: $orange;
    }
  }

  .dodgecoin {
    width: grid-width(2.5, true);
    max-width:100%;
    float:left;
    height:50%;
    margin-left:2%;
  }

  h3 {
    width: grid-width(9.5);
    font-size: 1.4rem;
    color: $grey;
    float:right;
    text-align: center;
    margin-top: 4.5%;
    @include transition(color, .3s);
  }
}

.bitcoin-link {
  width:100%;
  @include clearfix();
  @include main-button();
  @include transition(color, .3s);
  margin-bottom: 1rem;

  &:hover,
  &:active  {
    h3 {
      color: $orange;
    }
  }

  .bitcoin {
    width: grid-width(2.5, true);
    max-width:100%;
    float:left;
    height:50%;
    margin-left:2%;
  }
  h3{
    width: grid-width(9.5);
    font-size: 1.4rem;
    float: left;
    color: $grey;
    float:right;
    text-align: center;
    margin-top: 4.5%;
    @include transition(color, .3s);
  }
}

/************************
Sidebar Email Subscriptions
************************/

.subcribe-wrap {
  margin-bottom: 1rem;
  padding: 2%;
  float: right;
}

.sub-wrap {
  width: 100%;
  padding: 2%;
}
.reach-email{
  width: 100%;
  float: left;
  height: 2rem;
  border: 2px $orange solid;
  -webkit-border-radius:0;
  font-size: 1.2rem;
  padding: .5%;
  margin-bottom: 1rem;
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  width: 100%;
  background: $orange;
  margin: 0 auto;
  text-align: center;
  color: white;
  border:none;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  -moz-appearance: none;
  height:2rem;
  font-size: 1.2rem;
  font-weight: 100;
  cursor: pointer;
  &:active {
    outline:none;
  }
}


/************************
Sidebar recent / top posts 
************************/

.hidden-posts {
}

.side-posts{
  background: white;
  box-shadow: $mat-shadow;
  padding: 2%;
  margin-bottom:1rem;
  float:left;
  .sw{
    padding: 5%;
    @include clearfix();
    li{
      list-style:none;
      display: inline-block;
      @include main-button();
      @include rowMachine(2,15%);
      float:left;
      margin-bottom:.5rem;
      text-align: center;
    }
    a {
      color: $grey;
      margin-left: .5rem;
      @include transition(color, .3s);
      &:hover {
        color:$orange;
      }
    }
  }
  
}

.post-list{
  border: 1px solid $orange;
  padding: 2%;
  width: 100%;
  height: auto;
  position: relative;
  float:left;
  overflow: hidden;
}
.side-post-wrap {
  width: 200%;
  position: relative;
  @include bounce-animation(margin-left);

}
.side-post-wrap.toggle-side {
  margin-left: -100%;
}

.sidebar-posts {
  list-style: none;
  float:left;
  width: 50%;

  ul {
    margin: 0 auto;
    padding: 2%;
  }
  li{
    list-style: none;
  }
  a {
    font-weight: 700;
    color: $grey/2; 
    line-height: 1.8rem;
    @include transition(color, .3s);
    &:hover,
    &:active {
      color: $orange;
    }
  }
}

//ad container
.ad {
  margin-bottom: 1rem;
}



.page-wrap {
  max-width:$high-end;
  margin: 0 auto;
  padding: 1% 0;
}

.f-wrap {
  max-width:$high-end;
  margin: 0 auto;
}

/* The Cellar Module */
.cellar-info-module  {
  color: $brown;
  font-size: 1.500rem; /* = 24px */
  font-weight: 100;
  line-height: 1.500rem;
}

.title-meta-wrap {
  display: block;
  width: 100%; 
  padding: 0 2%;
  float: left;
}

.bread-module {
  width: grid-width(2, true);
  height: 100%;
  float:left;
  position:relative;
  background: $orange;
}

.flatbread {
  fill: $orange;
  position: relative;
  width:100%;
}

.likes {
  width:100%;
  text-align:center;
  text-decoration: none;
  @extend h6;
}

/*Search Form Styles */

.search-form {
  width: grid-width(10);
  float:right;

}

.search-field {
  float:left;
  width:100%;
  height:2rem; 
  text-align: left;
  background: transparent;
  border: none;
  border-bottom:none;
  border-radius: none;
  -webkit-appearance: none;
  font-size:1.4rem;
  color: $orange;

  

  &:focus {
    outline:none;
    border-bottom:2px solid $orange;
    color: $orange;
  }
  &:focus .search-icon{
    fill: $darkorange;
  }
}


.search-submit {
  display:none;
}

.tweet {
  margin: 0 auto;
}



