@import 'variables';

/*
GENERIC VENDOR PREFIX 
*/
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

/*
SIMPLE BLOCK GRID (from css-tricks.com)
*/
@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
  }
  &:nth-child(#{$numPerRow}n+1) {
    clear: left;
  }
}

/*
UNEVEN GRID FUNCTION
*/

$columns: 12;
$gutter: 2%;

@function grid-width($cols, $has-gutter:false) {
  
    @if $has-gutter {
      @return calc(((100% / #{$columns}) * #{$cols}) - #{$gutter});  
    }
    @else {
      @return calc((100% / #{$columns}) * #{$cols});
    }
}

/*
GENERIC  TRANSITION
*/
@mixin transition($att, $time){
   -webkit-transition: #{$att} ease-out #{$time};
    -moz-transition: #{$att} ease-out #{$time};
    -o-transition: #{$att} ease-out #{$time};
    transition: #{$att} ease-out #{$time};
}

/*
CLEARFIX MIXIN
*/
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*
BORDER MIXIN
*/
@mixin border($thickness){
  border-bottom: $orange solid #{$thickness};

}

@mixin cover() {
  -webkit-background-sifireze: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin bounce-animation($att) {
  -webkit-transition: #{$att} 500ms cubic-bezier(.83,-0.15,.33,1.23); 
   -moz-transition: #{$att} 500ms cubic-bezier(.83,-0.15,.33,1.23); 
     -o-transition: #{$att} 500ms cubic-bezier(.83,-0.15,.33,1.23); 
        transition: #{$att} 500ms cubic-bezier(.83,-0.15,.33,1.23); 
}


@mixin box-shadow-dropdown(){
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}

@mixin main-button(){
  box-shadow: $mat-shadow;
  font-size: 1.4rem;
  border-left: 4px solid $orange;
  color: $grey;
}