@media screen and (min-width: 818px) {
  blockquote p {
    font-size: 1.875rem; } }

@media screen and (min-width: 960px) {
  .mat-card {
    margin-top: 0; } }

.wheatstock {
  display: none;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

@media screen and (min-width: 960px) {
  .wheatstock {
    line-height: 1.125rem;
    width: 32.66667%;
    fill: #ff9800;
    display: inline;
    float: left;
    height: 100%;
    margin-top: 0.7rem; }
  .wheatstock:nth-child(n) {
    margin-right: 1%; }
  .wheatstock:nth-child(3n) {
    margin-right: 0; }
  .wheatstock:nth-child(3n+1) {
    clear: left; } }

.wheat-rotate {
  -webkit-transform: rotate(0deg);
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

.search-icon {
  width: calc((100% / 12) * 2);
  height: auto;
  float: left;
  fill: #7f5600; }

@-webkit-keyframes wheat-animation {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: bottom left; }

  25% {
    -webkit-transform: rotate(-10deg);
    -webkit-transform-origin: bottom left; }

  50% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: bottom left; }

  75% {
    -webkit-transform: rotate(-10deg);
    -webkit-transform-origin: bottom left; }

  100% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: bottom left; } }

@-webkit-keyframes wheat-animation-r {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: bottom right; }

  25% {
    -webkit-transform: rotate(10deg);
    -webkit-transform-origin: bottom right; }

  50% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: bottom right; }

  75% {
    -webkit-transform: rotate(10deg);
    -webkit-transform-origin: bottom right; }

  100% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: bottom right; } }

.right-arrow {
  fill: #ff9800;
  float: left; }

header.site-header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1%;
  margin: 0 auto;
  background: #3e2723;
  border-bottom: 4px #ff9800 solid; }

.logo {
  width: 100%;
  height: 7rem;
  max-width: 84.375em; }

.logo:nth-child(1n), .logo:nth-child(n) {
  margin-right: 0; }

.logo:nth-child(1n+1) {
  clear: left; }

@media screen and (min-width: 960px) {
  .head-wrap {
    max-width: 84.375em;
    width: 100%;
    height: auto;
    margin: 0 auto; }
  .head-wrap:after {
    content: "";
    display: table;
    clear: both; } }

.search-bar {
  float: left; }

.search-bar:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 960px) {
  .search-bar {
    padding-top: 4%;
    margin-bottom: 0;
    width: calc(((100% / 12) * 3) - 2%); } }

nav.navigation {
  width: inherit;
  height: auto; }

nav.navigation:after {
  content: "";
  display: table;
  clear: both; }

nav.navigation li {
  width: 32%;
  position: relative;
  float: left;
  list-style: none;
  padding: 2%;
  text-align: center;
  border: #ff9800 solid 1px;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

nav.navigation li:nth-child(n) {
  margin-right: 2%; }

nav.navigation li:nth-child(3n) {
  margin-right: 0; }

nav.navigation li:nth-child(3n+1) {
  clear: left; }

nav.navigation li:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 960px) {
  nav.navigation li {
    border: none;
    font-size: 1.125rem;
    padding: 0; } }

nav.navigation li:active .wheat-rotate, nav.navigation li:hover .wheat-rotate {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-name: wheat-animation;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

nav.navigation li:active .wheat-rotate-r, nav.navigation li:hover .wheat-rotate-r {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-name: wheat-animation-r;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

nav.navigation li a {
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

nav.navigation li:focus, nav.navigation li:hover {
  border-color: #7f5600; }

nav.navigation li:focus .nav-text, nav.navigation li:hover .nav-text {
  color: #7f5600; }

@media screen and (min-width: 960px) {
  nav.navigation li:focus .nav-text, nav.navigation li:hover .nav-text {
    color: #ff9800; } }

@media screen and (min-width: 960px) {
  nav.navigation {
    width: calc((100% / 12) * 9);
    float: right; } }

.nav-text {
  font-weight: 200;
  font-size: 1.3rem;
  margin-bottom: 0;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

@media screen and (min-width: 960px) {
  .nav-text {
    font-weight: 200;
    width: 32.66667%;
    margin-top: 8%;
    float: left; }
  .nav-text:nth-child(n) {
    margin-right: 1%; }
  .nav-text:nth-child(3n) {
    margin-right: 0; }
  .nav-text:nth-child(3n+1) {
    clear: left; } }

.home-top-articles {
  position: relative;
  width: 100%;
  height: inherit;
  padding: 1%;
  float: left;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  margin-bottom: 1rem; }

.main-recipe {
  height: auto;
  width: 100%;
  position: relative; }

.main-recipe-img {
  width: inherit;
  height: auto;
  background: #00008b;
  position: relative; }

.main-recipe-block {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.47);
  padding: 2%; }

.recent-recipe {
  width: 100%;
  padding: 2%; }

.recent-recipe-block {
  border-bottom: #ff9800 1px solid;
  width: 100%;
  height: auto;
  padding: 4% 0; }

.recent-recipe-block:after {
  content: "";
  display: table;
  clear: both; }

.recent-recipe-block:last-child {
  border-bottom: none; }

.recent-recipe-article {
  width: calc(((100% / 12) * 8) - 2%);
  float: left; }

.recent-recipe-img {
  width: calc((100% / 12) * 4);
  height: auto;
  float: right; }

.recent-recipe-img img {
  width: 100%;
  max-width: 100%; }

.home-cellar {
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  background: #fff;
  float: left;
  padding: 2% 0; }

.home-cellar h1 {
  width: 100%;
  text-align: center;
  margin: 1% 0; }

.scroll-border {
  position: relative;
  padding: 1%;
  margin: 0.2% auto 1%;
  background: 0 0;
  width: 17%;
  border: #ff9800 1px solid;
  border-radius: 25px;
  overflow: hidden; }

.scroll-border h3 {
  text-align: center;
  font-weight: 100;
  font-size: 95%;
  color: #919191;
  line-height: 1.3rem;
  margin: 1%;
  z-index: 200; }

@-webkit-keyframes taco {
  0% {
    margin-left: -30%; }

  50% {
    margin-left: 115%; }

  100% {
    margin-left: -30%; } }

.scroll-animation {
  position: absolute;
  background: #ff9800;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  -webkit-animation: taco 5s infinite;
  top: 37%;
  z-index: -1; }

.home-cellar-outer-container {
  width: 100%;
  max-width: 400%;
  background: #fff; }

.home-cellar-container {
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.home-cellar-carousel {
  width: 400%;
  height: 100%;
  overflow: hidden; }

.home-cellar-content {
  display: block;
  float: left;
  width: 25%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  padding: 2%;
  background: #fff; }

.home-cellar-content:nth-child(4n), .home-cellar-content:nth-child(n) {
  margin-right: 0; }

.home-cellar-content:nth-child(4n+1) {
  clear: left; }

.home-cellar-content:after {
  content: "";
  display: table;
  clear: both; }

.home-cellar-img {
  margin: 0 auto;
  width: 49%;
  float: left; }

.home-cellar-img:nth-child(n) {
  margin-right: 2%; }

.home-cellar-img:nth-child(2n) {
  margin-right: 0; }

.home-cellar-img:nth-child(2n+1) {
  clear: left; }

.home-cellar-img img {
  max-height: 100%;
  width: auto;
  height: 100%; }

.home-cellar-block {
  width: 49%;
  float: left; }

.home-cellar-block:nth-child(n) {
  margin-right: 2%; }

.home-cellar-block:nth-child(2n) {
  margin-right: 0; }

.home-cellar-block:nth-child(2n+1) {
  clear: left; }

.entry-header {
  max-width: none;
  width: 100%;
  overflow-x: visible;
  height: 10rem;
  margin: 0 auto;
  padding: 5%;
  background-size: cover !important;
  background-attachment: scroll;
  background-attachment: fixed !important;
  border-bottom: #ff9800 4px solid;
  overflow: hidden; }

.entry-header:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 600px) {
  .entry-header {
    background-position: 120 left !important;
    background-size: 169% !important; } }

@media screen and (min-width: 960px) {
  .entry-header {
    padding: 2%;
    background-position: top left !important;
    background-size: 100% !important; } }

.head-wrapper {
  position: relative;
  max-width: 84.375em;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch; }

.entry-title {
  position: relative;
  width: calc((100% / 12) * 10);
  font-size: 150%;
  margin: 0 18%;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.78); }

@media screen and (min-width: 960px) {
  .entry-title {
    font-size: 2.925rem;
    line-height: 2.8rem;
    margin: 0 auto; } }

.entry-content {
  padding: 2%;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  margin-bottom: 1rem; }

.entry-content li {
  font-size: 1.25rem;
  color: #919191;
  font-weight: 300;
  font-style: italic;
  padding: 1%;
  margin-left: 10%;
  margin-bottom: 0.57rem; }

@media screen and (min-width: 1021px) {
  .entry-content li {
    margin-left: 5%; } }

.checkbox {
  color: orange;
  font-family: icomoon;
  font-size: 1.5rem;
  cursor: pointer; }

.checkbox:before {
  content: "\e601";
  margin-right: 0.5rem;
  vertical-align: middle; }

.is-checked {
  color: orange;
  font-family: icomoon;
  cursor: pointer;
  font-size: 1.5rem; }

.is-checked:before {
  content: "\e600";
  margin-right: 0.5rem;
  vertical-align: middle; }

.cb-wrap ul {
  list-style-position: outside; }

.cb-wrap li {
  list-style: none;
  font-style: normal; }

.pf-ft {
  display: none; }

#disqus_thread {
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  padding: 2%;
  margin-bottom: 1rem; }

.reciperoll-wrap {
  width: 100%;
  padding: 1%;
  clear: both; }

.reciperoll-wrap:after {
  content: "";
  display: table;
  clear: both; }

.reciperoll-item {
  width: 49%;
  float: left;
  position: relative;
  margin-bottom: 2%; }

.reciperoll-item:nth-child(n) {
  margin-right: 2%; }

.reciperoll-item:nth-child(2n) {
  margin-right: 0; }

.reciperoll-item:nth-child(2n+1) {
  clear: left; }

@media screen and (min-width: 600px) {
  .reciperoll-item {
    width: 23.5%;
    clear: none !important; }
  .reciperoll-item:nth-child(n) {
    margin-right: 2%; }
  .reciperoll-item:nth-child(4n) {
    margin-right: 0; }
  .reciperoll-item:nth-child(4n+1) {
    clear: left; } }

.reciperoll-item img {
  width: 100%;
  height: auto;
  max-width: 100%; }

.reciperoll-item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1%;
  -webkit-transition: background ease-out 0.3s;
  -moz-transition: background ease-out 0.3s;
  -o-transition: background ease-out 0.3s;
  transition: background ease-out 0.3s;
  overflow: hidden; }

.reciperoll-item span:hover {
  background: rgba(0, 0, 0, 0.47);
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s; }

.reciperoll-item span:hover .likes, .reciperoll-item span:hover h6 {
  visibility: visible;
  margin-top: 0; }

.reciperoll-item .likes, .reciperoll-item h6 {
  visibility: hidden;
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  font-size: 1.1rem;
  text-align: center;
  margin-top: -1rem; }

.touch .reciperoll-item {
  width: 49%;
  float: left;
  position: relative;
  margin-bottom: 0.4rem; }

.touch .reciperoll-item:nth-child(n) {
  margin-right: 2%; }

.touch .reciperoll-item:nth-child(2n) {
  margin-right: 0; }

.touch .reciperoll-item:nth-child(2n+1) {
  clear: left; }

@media screen and (min-width: 600px) {
  .touch .reciperoll-item {
    width: 23.5%;
    clear: none !important; }
  .touch .reciperoll-item:nth-child(n) {
    margin-right: 2%; }
  .touch .reciperoll-item:nth-child(4n) {
    margin-right: 0; }
  .touch .reciperoll-item:nth-child(4n+1) {
    clear: left; } }

.touch .reciperoll-item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1%;
  background: rgba(0, 0, 0, 0.2); }

.touch .reciperoll-item .likes, .touch .reciperoll-item h6 {
  visibility: visible;
  font-size: 1.1rem;
  margin-top: 0; }

.pagination {
  text-align: center; }

footer {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  background: #ff9800;
  border-top: #7f5600 3px solid;
  padding: 2%; }

.footer-social h3 {
  color: #7f5600;
  margin-bottom: 2%; }

.footer-social ul {
  font-size: 0; }

.footer-social ul:after {
  content: "";
  display: table;
  clear: both; }

.footer-social li {
  display: inline-block;
  width: 32%;
  height: auto;
  background: #3e2723;
  border: #7f5600 5px solid;
  float: left;
  margin-bottom: 2%;
  margin-top: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: 28%; }

.footer-social li:nth-child(n) {
  margin-right: 2%; }

.footer-social li:nth-child(3n) {
  margin-right: 0; }

.footer-social li:nth-child(3n+1) {
  clear: left; }

@media screen and (min-width: 625px) {
  .footer-social li {
    width: 15%;
    clear: none !important;
    padding-bottom: 12.5%; }
  .footer-social li:nth-child(n) {
    margin-right: 2%; }
  .footer-social li:nth-child(6n) {
    margin-right: 0; }
  .footer-social li:nth-child(6n+1) {
    clear: left; } }

.footer-social li:first-child, .footer-social li:nth-child(2) {
  background: #4c9fd2; }

.footer-social li:nth-child(3) {
  background: #49639E; }

.footer-social li:nth-child(4) {
  background: #DF4A32; }

.footer-social li:nth-child(5) {
  background: #3f729b; }

.footer-social li:last-child {
  background: #fff; }

.footer-social li:hover .icon-facebook, .footer-social li:hover .icon-google, .footer-social li:hover .icon-instagram, .footer-social li:hover .icon-twitter, .footer-social li:hover .icon-untapppd {
  margin-top: 100%; }

.footer-social li:hover .likes, .footer-social li:hover h6 {
  margin-top: 29%; }

.footer-social span {
  margin: 0 auto;
  position: absolute;
  width: 100%; }

.footer-social .likes, .footer-social h6 {
  text-align: center;
  font-size: 0.9rem;
  width: inherit;
  margin: 0 auto;
  margin-top: -60%;
  -webkit-transition: margin-top ease-out 0.3s;
  -moz-transition: margin-top ease-out 0.3s;
  -o-transition: margin-top ease-out 0.3s;
  transition: margin-top ease-out 0.3s; }

.icon {
  max-width: 100%;
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  display: block;
  margin: 0 auto;
  -webkit-transition: margin-top ease-out 0.3s;
  -moz-transition: margin-top ease-out 0.3s;
  -o-transition: margin-top ease-out 0.3s;
  transition: margin-top ease-out 0.3s; }

.icon-twitter {
  background: url(icons/twitter.svg) center center no-repeat;
  background-size: 90% 90%; }

.icon-untapppd {
  background: url(icons/untappd.svg) center center no-repeat;
  background-size: 90% 90%; }

.icon-facebook {
  background: url(icons/facebook.svg) center center no-repeat;
  background-size: 90% 90%; }

.icon-google {
  background: url(icons/google.svg) center center no-repeat;
  background-size: 90% 90%; }

.icon-instagram {
  background: url(icons/instagram.svg) center center no-repeat;
  background-size: 90% 90%; }

.site-info {
  color: #fff; }

a.jm-post-like {
  font-weight: 400;
  display: block;
  width: auto;
  font-size: 1.4rem;
  line-height: 1.84615;
  -moz-transition: all 0.3s ease-out 0.2s;
  -webkit-transition: all 0.3s ease-out 0.2s;
  -o-transition: all 0.3s ease-out 0.2s;
  text-decoration: none;
  color: #fff; }

a.jm-post-like.liked {
  color: #fff;
  text-decoration: none; }

a.jm-post-like:active, a.jm-post-like:focus, a.jm-post-like:hover, a.liked:active, a.liked:focus, a.liked:hover, i {
  color: #fff; }

#wpstats {
  visibility: hidden; }

.dropdown-wrap {
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 2% 4%; }

@media screen and (min-width: 680px) {
  .dropdown-wrap {
    float: right;
    width: 32%;
    padding: 2% 1%; } }

#dropdown {
  color: #919191;
  background: #fff;
  width: 100%;
  border-left: 4px solid #ff9800;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  font-size: 1.2rem;
  float: left; }

#dropdown:hover {
  color: darkgrey; }

#dropdown ul {
  position: relative;
  display: none;
  background: #fff; }

#dropdown li {
  list-style: none;
  padding: 1%;
  background: #fff;
  -webkit-transition: background ease-out 0.3s;
  -moz-transition: background ease-out 0.3s;
  -o-transition: background ease-out 0.3s;
  transition: background ease-out 0.3s; }

#dropdown li:hover {
  background: rgba(255, 152, 0, 0.5); }

#dropdown span {
  font-family: Roboto, sans-serif;
  margin-left: 0.4rem;
  font-size: 1.4rem; }

#dropdown a {
  color: darkgrey; }

#dropdown.open {
  background: #ff9800;
  color: #fff;
  border-left-color: #ff9800; }

.disqus-button {
  background: #fff;
  display: block;
  width: 30%;
  font-size: 1.4rem;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  border: none;
  border-left: 4px solid #ff9800;
  margin: 0 auto;
  color: #919191;
  cursor: pointer; }

.disqus-button:hover {
  color: #ff9800; }

::selection {
  background: #ff9800;
  color: #fff; }

::-webkit-input-placeholder {
  color: #7f5600; }

::-webkit-input-placeholder:focus {
  color: #ff9800; }

::-webkit-input-placeholder:hover {
  color: #ff9800; }

:-moz-placeholder {
  color: #7f5600; }

:-moz-placeholder:focus {
  color: #ff9800; }

::-moz-placeholder {
  color: #7f5600; }

::-moz-placeholder:focus {
  color: #ff9800; }

:-ms-input-placeholder {
  color: #7f5600; }

:-ms-input-placeholder:focus {
  color: #ff9800; }

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

video {
  width: 100%;
  max-width: 100%;
  height: auto; }

svg {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.2rem; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url(images/bedge_grunge.png) repeat fixed; }

.screen-reader-text {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.clear {
  clear: both; }

.group:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .group, :first-child + html .group {
  zoom: 1; }

.likes, aside, aside a, blockquote, h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 .likes, h6 a, input, li, li a, p, p a, pre, strong {
  word-wrap: break-word;
  font-weight: 300;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #ff9800; }

h1 {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 2.625rem; }

h2 {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 2.25rem;
  margin-bottom: 0.5rem; }

h3 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.875rem;
  margin-bottom: 0.5rem; }

h4 {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5rem;
  margin-bottom: 0.5rem; }

h5 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.125rem; }

.likes, h6 {
  font-weight: 300;
  font-size: 1rem; }

p {
  font-size: 1.125rem;
  font-weight: 300;
  color: #494949;
  margin-bottom: 1.125rem; }

a {
  text-decoration: none; }

blockquote {
  border-top: 2px solid #ff9800;
  border-bottom: 2px solid #ff9800;
  padding: 2%;
  margin-bottom: 1.5rem; }

blockquote p {
  font-size: 1.51rem;
  font-weight: 100;
  color: #ff9800;
  font-style: italic;
  margin-bottom: 0; }

@media screen and (min-width: 818px) {
  blockquote p {
    font-size: 1.875rem; } }

.mat-card {
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 2%; }

@media screen and (min-width: 960px) {
  .mat-card {
    margin-top: 0; } }

.one-third, .two-thirds {
  width: 100%;
  padding: 1%;
  float: left; }

.coin-wrap {
  width: 100%;
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  margin-bottom: 1rem;
  padding: 2%; }

.coin-wrap h2 {
  text-align: center; }

.coins {
  width: 100%;
  padding: 4%; }

.dodgecoin-link {
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  font-size: 1.4rem;
  border-left: 4px solid #ff9800;
  color: #919191;
  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s;
  margin-bottom: 1rem; }

.dodgecoin-link:after {
  content: "";
  display: table;
  clear: both; }

.dodgecoin-link .dodgecoin {
  width: calc(((100% / 12) * 2.5) - 2%);
  max-width: 100%;
  float: left;
  height: 50%;
  margin-left: 2%; }

.dodgecoin-link h3 {
  width: calc((100% / 12) * 9.5);
  font-size: 1.4rem;
  color: #919191;
  float: right;
  text-align: center;
  margin-top: 4.5%;
  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s; }

.bitcoin-link {
  width: 100%;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  font-size: 1.4rem;
  border-left: 4px solid #ff9800;
  color: #919191;
  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s;
  margin-bottom: 1rem; }

.bitcoin-link:after {
  content: "";
  display: table;
  clear: both; }

.bitcoin-link .bitcoin {
  width: calc(((100% / 12) * 2.5) - 2%);
  max-width: 100%;
  float: left;
  height: 50%;
  margin-left: 2%; }

.bitcoin-link h3 {
  width: calc((100% / 12) * 9.5);
  font-size: 1.4rem;
  color: #919191;
  float: right;
  text-align: center;
  margin-top: 4.5%;
  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s; }

.subcribe-wrap {
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  margin-bottom: 1rem;
  padding: 2%; }

.sub-wrap {
  width: 100%; }

.sub-wrap:after {
  content: "";
  display: table;
  clear: both; }

.reach-email {
  width: calc((100% / 12) * 9);
  float: left;
  height: 2rem;
  border: 2px #ff9800 solid;
  -webkit-border-radius: 0;
  font-size: 1.2rem;
  padding: 0.5%; }

.reach-email:focus {
  outline: 0; }

input[type=submit] {
  width: calc((100% / 12) * 3);
  background: #ff9800;
  color: #fff;
  float: right;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  height: 2rem;
  font-size: 1.2rem;
  font-weight: 100; }

input[type=submit]:active {
  outline: 0; }

.side-posts {
  background: #fff;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  padding: 2%;
  margin-bottom: 1rem;
  float: left; }

.side-posts .sw:after {
  content: "";
  display: table;
  clear: both; }

.side-posts .sw li {
  list-style: none;
  display: inline-block;
  box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.4);
  font-size: 1.4rem;
  border-left: 4px solid #ff9800;
  color: #919191;
  width: 49.5%;
  float: left;
  margin-bottom: 0.5rem; }

.side-posts .sw li:nth-child(n) {
  margin-right: 1%; }

.side-posts .sw li:nth-child(2n) {
  margin-right: 0; }

.side-posts .sw li:nth-child(2n+1) {
  clear: left; }

.side-posts .sw a {
  color: #919191;
  margin-left: 0.5rem;
  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s; }

.side-posts .sw a:hover {
  color: #ff9800; }

.post-list {
  border: 1px solid #ff9800;
  padding: 2%;
  width: 100%;
  height: auto;
  position: relative;
  float: left;
  overflow: hidden; }

.side-post-wrap {
  width: 200%;
  position: relative;
  -webkit-transition: margin-left 500ms cubic-bezier(0.83, -0.15, 0.33, 1.23);
  -moz-transition: margin-left 500ms cubic-bezier(0.83, -0.15, 0.33, 1.23);
  -o-transition: margin-left 500ms cubic-bezier(0.83, -0.15, 0.33, 1.23);
  transition: margin-left 500ms cubic-bezier(0.83, -0.15, 0.33, 1.23); }

.side-post-wrap.toggle-side {
  margin-left: -100%; }

.sidebar-posts {
  list-style: none;
  float: left;
  width: 50%; }

.sidebar-posts ul {
  margin: 0 auto;
  padding: 2%; }

.sidebar-posts li {
  list-style: none; }

.sidebar-posts a {
  font-weight: 700;
  color: #494949;
  line-height: 1.8rem;
  -webkit-transition: color ease-out 0.3s;
  -moz-transition: color ease-out 0.3s;
  -o-transition: color ease-out 0.3s;
  transition: color ease-out 0.3s; }

.sidebar-posts a:active, .sidebar-posts a:hover {
  color: #ff9800; }

.page-wrap {
  max-width: 84.375em;
  margin: 0 auto;
  padding: 1% 0; }

.f-wrap {
  max-width: 84.375em;
  margin: 0 auto; }

.cellar-info-module {
  color: #3e2723;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.5rem; }

.bread-module {
  width: calc(((100% / 12) * 2) - 2%);
  float: left;
  position: relative; }

.flatbread {
  fill: #ff9800;
  position: relative;
  width: 100%; }

.likes {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  text-decoration: none; }

.search-form {
  width: calc((100% / 12) * 10);
  float: right; }

.search-field {
  float: left;
  width: 100%;
  height: 2rem;
  text-align: left;
  background: 0 0;
  border: none;
  border-bottom: none;
  border-radius: none;
  -webkit-appearance: none;
  font-size: 1.4rem;
  color: #ff9800; }

.search-field:focus {
  outline: 0;
  border-bottom: 2px solid #ff9800;
  color: #ff9800; }

.search-field:focus .search-icon {
  fill: #7f5600; }

.search-submit {
  display: none; }

.tweet {
  margin: 0 auto; }

@media screen and (min-width: 625px) {
  .main-recipe-img {
    width: 100%; }
  .main-recipe-img img {
    max-width: 100%; }
  .main-recipe {
    width: 49%;
    float: left; }
  .main-recipe:nth-child(n) {
    margin-right: 2%; }
  .main-recipe:nth-child(2n) {
    margin-right: 0; }
  .main-recipe:nth-child(2n+1) {
    clear: left; }
  .recent-recipe {
    width: 49%;
    float: right; }
  .recent-recipe:nth-child(n) {
    margin-right: 2%; }
  .recent-recipe:nth-child(2n) {
    margin-right: 0; }
  .recent-recipe:nth-child(2n+1) {
    clear: left; }
  .recent-recipe {
    padding: 0; }
  .recent-recipe:first-child {
    padding-bottom: 4%; }
  .recent-recipe-block:first-child {
    padding: 0;
    padding-bottom: 4%; } }

@media screen and (min-width: 960px) {
  .two-thirds {
    width: calc(((100% / 12) * 8) - 2%);
    float: left;
    padding: 1%; }
  .one-third {
    display: inline;
    width: calc((100% / 12) * 4);
    height: auto;
    float: right; } }
